# =========================
# Java & Maven Build Folders
# =========================
target/
**/*/target/
*.class
*.jar
*.war
*.ear
.mvn/wrapper/maven-wrapper.jar

# =========================
# IDEs (Eclipse, IntelliJ, VS Code)
# =========================
.metadata/
.idea/
*.iml
.settings/
*.project
*.classpath
.vscode/

# =========================
# Terraform (CRITICAL)
# =========================
.terraform/
*.tfstate
*.tfstate.backup
.terraform.tfstate.lock.info
crash.log

# =========================
# OS Generated & Logs
# =========================
.DS_Store
Thumbs.db
*.log

# =========================
# Secrets & Environments
# =========================
.env
*.pem
*.key